.reset-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Cambiado a flex-start para que el contenido se inicie desde la parte superior */
    height: 100%;
    padding: 16px; /* Añadir padding para un poco más de espacio */
    overflow-y: auto; /* Permitir desplazamiento */
}

.logo {
    width: 200px;
    margin-bottom: 20px;
}

ion-card {
    width: 90%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 80vh; /* Limitar la altura del ion-card */
  overflow-y: auto; /* Permitir que la tarjeta se desplace si es necesario */
}

ion-button {
    margin-top: 0;
    margin-bottom: 5px;
}

.footer-text {
    text-align: center;
    width: 100%;
    font-size: 0.9em;
}

