<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Escanee su código QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Estado del escaneo -->
  <div *ngIf="isScanning" class="ion-padding">
    <p>Escaneando...</p>
    <div id="qr-reader" style="width:100%; height: 300px;"></div>
  </div>

  <!-- Resultados del escaneo -->
  <div *ngIf="barcodes.length > 0" class="ion-padding">
    <h4>Código escaneado:</h4>
    <p>{{ barcodes[0].displayValue }}</p>
    <ion-button expand="full" color="success" (click)="irinicio()">Ir al inicio</ion-button>
  </div>

  <div *ngIf="!barcodes.length && !isScanning" class="ion-padding">
    <p>Cargando lector QR...</p>
  </div>
</ion-content>
