<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="header-title">Asistencia Semanal</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <h2 class="current-date"><ion-icon name="calendar-outline"></ion-icon> Día Actual: {{ currentDate | date: 'EEEE d \'de\' MMMM' | titlecase }}</h2>

    <ion-list>
      <ion-item *ngFor="let attendance of attendanceList">
        <ion-card class="attendance-card">
          <ion-card-header>
            <ion-card-title>{{ attendance.day | titlecase }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p class="attendance-status"><ion-icon name="checkmark-done-circle-outline"></ion-icon>{{ attendance.status }}</p>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <p class="footer-text"></p>
    </ion-toolbar>
  </ion-footer>
</div>
