<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre de usuario</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="login()">Iniciar sesión</ion-button>
  <ion-button expand="full" fill="clear" routerLink="/register">Registrarse</ion-button>
  <ion-button expand="full" fill="clear" routerLink="/reset-password">Olvidaste contraseña?</ion-button>
</ion-content>
