<ion-header>
  <ion-toolbar>
    <ion-title>INICIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="home-container">
    <img src="assets/imagenes/logo-no-background.png" alt="Logo" class="logo">
    <h1>Bienvenido a RegistrApp</h1>

    <ion-button expand="full" (click)="goToLogin()">Comenzar</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p class="footer-text">© 2024 RegistrApp. Todos los derechos reservados.</p>
  </ion-toolbar>
</ion-footer>