.welcome-container {
  text-align: center;
  margin-top: 30vh;
}

.footer-text {
  text-align: center;
  width: 100%;
  font-size: 0.9em;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo {
  width: 200px; /* Mismo tamaño del logo que en el login */
  margin-bottom: 20px;
}

.footer {
  text-align: center;
  margin-top: 20px;
}
