<ion-header>
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="register-container">
    <img src="assets/imagenes/logo-solo.png" alt="Logo" class="logo">

    <ion-card>
      <!-- Correo Institucional -->
      <ion-item>
        <ion-label position="floating">Correo institucional</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <!-- Nombre -->
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-item>

      <!-- Apellido -->
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text" [(ngModel)]="lastName"></ion-input>
      </ion-item>

      <!-- Número de Teléfono -->
      <ion-item>
        <ion-label position="floating">Número de teléfono</ion-label>
        <ion-input type="tel" [(ngModel)]="phoneNumber"></ion-input>
      </ion-item>

      <!-- Dirección -->
      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-input type="text" [(ngModel)]="address"></ion-input>
      </ion-item>

      <!-- Contraseña -->
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <!-- Botón de Registro -->
      <ion-button expand="full" (click)="register()" color="primary">Registrarse</ion-button>

      <!-- Botón para Volver al Inicio -->
      <ion-button expand="full" fill="clear" routerLink="/login">Volver al inicio</ion-button>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p class="footer-text">© 2024 RegistrApp. Todos los derechos reservados.</p>
  </ion-toolbar>
</ion-footer>
